@use 'modules/modules' as m;



.nav {
  display: flex;
  justify-content: center;
  background-color:m.$nav-background-color;
  box-shadow: 0 0 10px m.$nav-shadow-color;

  &__container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;

    @media screen and (min-width: 40em) {
      align-items: center;
    }
  }

  &__list {
    list-style: none;
    display: none;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @media screen and (min-width: 40em) {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  }

  &__item {
    text-align: center;
  }

  &__link {
    color: m.$link-color;
    display: block;
    line-height: 1rem;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: m.$link-hover-color;
      background: m.$link-hover-background-color;
    }
  }

  &__hamburger {
    &-checkbox {
      display: none;

      &:checked + .nav__list {
        display: flex;
      }
    }

    &-label {
      align-items: center;
      display: flex;
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.75rem;
      flex-wrap: wrap;

      @media screen and (min-width: 40rem) {
        display: none;
      }
    }

    &-line {
      background: m.$link-color;
      display: block;
      width: 1.5rem;
      height: 2px;
    }
  }
}
